= content_for(:title) {"Create Request"}
= form_for @review_request, url: {action: "create"} do |f|
  - if @review_request.errors.any?
    #error_explanation
      %h2 #{pluralize(@review_request.errors.count, "error")} prohibited this project from being saved:
      %ul
        -@review_request.errors.full_messages.each do |msg|
          %li=msg
  %table
    %tr.field
      %td= f.label :title, "Title"
      %td= f.text_field :title
    %tr.field
      %td= f.label :url, "URL"
      %td= f.text_field :url
    %tr.field
      %td= f.label :description
      %td= f.text_area :description, :rows => 4
    %tr.field
      %td
      %td= f.submit "Submit"
