= content_for(:title) {"Create Request"}
= flash[:notice]
= form_for @review_request, url: {action: "create"} do |f|
  %table
    %tr.field
      %td= f.label :title, "Title*"
      %td= f.text_field :title
    %tr.field
      %td= f.label :url, "URL*"
      %td= f.text_field :url
    %tr.field
      %td= f.label :description
      %td= f.text_area :description, :rows => 4
    %tr.field
      %td
      %td= f.submit "Submit"
