- review_request = @review_request
= content_for(:title) {review_request.title}

%table.data_list
  %tr
    %td Title:
    %td= review_request.title
  %tr
    %td Url:
    %td= link_to review_request.url, review_request.url
  %tr
    %td Date posted:
    %td= review_request.posted_date.to_formatted_s(:long)
  %tr
    %td Description:
    %td= review_request.description
  - if review_request.reviewer_id
    %tr
      %td Reviewer:
      %td= review_request.user.first_name
