= content_for(:title) {@review_request.title}

%p
  %b Title:
  = @review_request.title
%p
  %b Url:
  = @review_request.url

%p
  %b Date posted:
  = @review_request.posted_date

%p
  %b Description:
  = @review_request.description

%p
  %b User:
  = @review_request.user_id
