= content_for(:title) {@request.title}

%p
  %b Title:
  = @request.title
%p
  %b Url:
  = @request.url

%p
  %b Date posted:
  = @request.posted_date

%p
  %b Description:
  = @request.description

%p
  %b User:
  = @request.user_id
