<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :posted_date %><br>
    <%= f.date_select :posted_date %>
  </div>
  <div class="field">
    <%= f.label :reviewer_id %><br>
    <%= f.text_field :reviewer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
