= flash[:notice]
- content_for(:title) {"Reviews"}
= content_for(:head) {stylesheet_link_tag "reviews", media: "all", "data-turbolinks-track" => true}

- if @presenter.request_in_queue
  .queue
    .queue_link
      %ul
        %li.take_request
          = link_to "Take Request", take_request_path(@presenter.request_in_queue), {method: :post}
        %li.skip_request
          = link_to "Skip", @presenter.request_in_queue
    .queue_body
      .queue_title
        = link_to @presenter.request_in_queue.title, @presenter.request_in_queue
      %br
      = link_to truncate(@presenter.request_in_queue.description, :length => 100), @presenter.request_in_queue
.reviews
  %ul
    %li.reviews_box
      %h2 My Requests
      %ul
        - @presenter.user_requests.each do |request|
          %li.pending
            = link_to request.title, request
    %li.reviews_box
      %h2 Reviewing Requests
      %ul
        - @presenter.user_replies.each do |reply|
          %li.pending
            = link_to reply.title, edit_review_reply_path(reply)
