- content_for(:title) {"Reviews"}
= content_for(:head) {stylesheet_link_tag "reviews", media: "all", "data-turbolinks-track" => true}

- if request_in_queue = @presenter.request_in_queue
  .queue
    .queue_link
      = link_to "Take Request", take_request_path(request_in_queue), {:class => "take_request"}
      %br
      = link_to "Skip", skip_request_path(request_in_queue), {:class => "skip_request"}
    .queue_body
      %h2
        = link_to request_in_queue.title, request_in_queue
      %br
      = link_to truncate(request_in_queue.description, :length => 100), request_in_queue


%div.section.group
  %div.col.span_1_of_2
    %h2 Submitted Requests
    %ul
    - @presenter.user_requests.each do |request|
      %li
        = link_to request.title, request
  %div.col.span_1_of_2
    %h2 Reviewing
    %ul
    - @presenter.user_replies.each do |reply|
      %li
        = link_to reply.title, edit_review_reply_path(reply)
