=render "review_requests/show"
- if @review_reply
  %p#notice= notice
  %hr
  %p
    %strong Url:
    = @review_reply.url
  %p
    %strong Comment:
    = @review_reply.comment
  %p
    %strong Posted date:
    = @review_reply.posted_date.to_formatted_s(:long)
  %p
    %strong Reviewer:
    = @review_reply.reviewer.first_name + ' ' + @review_reply.reviewer.last_name

  -unless @review_request.archive
    %p
      = button_to "Archive", archive_review_request_path(@review_request)

