=render "review_requests/show"
- if @review_reply
  %p#notice= notice
  %hr
  %p
    %strong Url:
    = @review_reply.url
  %p
    %strong Comment:
    = @review_reply.comment
  %p
    %strong Posted date:
    = @review_reply.posted_date.to_formatted_s(:long)
  %p
    %strong Reviewer:
    = @review_reply.reviewer_id
