<!DOCTYPE html>
<html>
<head>
  <title>Q - <%= content_for(:title) || 'Code Review Queue' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless request.original_url.include? "signin" %>
    <header class="header">
      <div id="logo">Q</div>
      <div class="greeting">Hi <%=@user.first_name%>! <%= link_to "Sign Out", signout_path%></div>
      <nav>
        <%= link_to "Create Request", "requests/new"%>
        <a href="#">Accept a Challenge</a>
        <a href="#">View My Challenges</a>
      </nav>
    </header>
  <% end %>


<%= yield %>

</body>
</html>
