<!DOCTYPE html>
<html>
<head>
  <title>Q</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless request.original_url.include? "signin"%>
    <div id="header" class="group">
      <div id="logo">Q</div>
      <div class="greeting">Hi Nhu! <%= link_to "Sign Out", signout_path%></div>
      <ul class="nav">
        <li><a href="index.html">Create a Challenge</a></li>
        <li><a href="#">Accept a Challenge</a></li>
        <li><a href="#">View My Challenges</a></li>
      </ul>
    </div> <!-- /header -->
  <% end %>


<%= yield %>

</body>
</html>
