!!!
%html
  %head
    %title Q - #{title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = yield :head if content_for(:head)
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %div.greeting Hi #{user.first_name}! #{link_to "Sign Out", signout_path, class: "signout"}
      #logo= link_to "Q", root_path
      %nav
        = link_to "Create Request", new_review_request_path
    #main-content
      - unless title == "Reviews"
        %h1= title
      = yield
