!!!
%html
  %head
    %title Q - #{title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      #logo= link_to "Q", root_path
      %div.greeting Hi #{@user.first_name}! #{link_to "Sign Out", signout_path}
      %nav
        = link_to "Create Request", "requests/new"
    #main-content
      %h1= title
      = yield
